body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e6e1e1;
    color: #333;
}

header {
    
    background-color: #0c2d4e;
    color: rgb(216, 218, 194);
    padding:20px;
    text-align: center;
    font-size: 20px;
    margin:25px ;
    padding: 25px ;
    border-radius:5px ;
}
h2 {
    color: #101111;
    
}
section{
    padding: 20px;
    color: rgb(14, 13, 13);
    font-size: 17px;
    margin: 20px;
    border-radius: 8px;
    background-color: rgb(167, 199, 224);
    font-weight:900px;
    
}
.img{

width: 200px;
height: 200px;
text-align: right;
align-items: flex-end;
border-radius: 50%;

}
footer{
    padding: 30px;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 30px;
}
nav{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

@media(max-width:600px){

.main{

flex-direction:column;
}
}












